<div id="editModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <div class="row justify-content-center">
                    <div class="col-6 text-center">
                        <div class="form-group marginTop">
                            <strong><label for="userIdEdit">id</label></strong>
                            <input type="text" class="form-control"
                                   id="userIdEdit"
                                   name="id" readonly/>
                        </div>
                        <div class="form-group marginTop">
                            <strong> <label>First name</label></strong>
                            <input type="text" class="form-control"
                                   id="userNameEdit" name="userName">
                        </div>
                        <div class="form-group marginTop">
                            <strong> <label>Last name</label></strong>
                            <input type="text" class="form-control"
                                   id="userLastNameEdit"
                                   name="userLastName">
                        </div>
                        <div class="form-group marginTop">
                            <strong> <label>Password</label></strong>
                            <input type="text" class="form-control"
                                   id="passwordEdit" name="password">
                        </div>

                        <div class="form-group marginTop">
                            <strong> <label>Age</label></strong>
                            <input type="text" class="form-control"
                                   id="ageEdit" name="age">
                        </div>
                        <div class="form-group marginTop">
                            <strong> <label>Email</label></strong>
                            <input type="text" class="form-control"
                                   id="emailEdit" name="email">
                        </div>
                        <div class="form-label-group marginTop">
                            <label>Role</label>
                            <select multiple class="form-control" id="rolesEdit" name="roles[]"></select>
                        </div>
                    </div>
                    <div class="modal-footer marginTop">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn submit">Action</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>