<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <style>
        .marginTop {
            margin-top: 25px;
        }
    </style>

</head>
<body align="center">
<div class="container marginTop">
    <div class="row justify-content-md-center">
        <div class="col-lg-4">
            <form method="post" action="/">
                <h2><strong>Sign in</strong></h2>
                <div class="marginTop">
                    <input type="j_email" id="j_email" name="j_email" class="form-control" placeholder="EMAIL ADDRESS"
                           required
                           autofocus>
                </div>
                <div class="marginTop">
                    <input name="j_password" class="form-control" th:placeholder="PASSWORD"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block marginTop">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>
</html>